[submodule "bundle/pyflakes-pathogen"]
	path = bundle/pyflakes-pathogen
    url = git@github.com:mitechie/pyflakes-pathogen.git
    ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
    ignore = dirty
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git@github.com:bmatheny/vim-scala.git
    ignore = dirty
[submodule "bundle/wombat256"]
	path = bundle/wombat256
	url = git@github.com:vim-scripts/wombat256.vim.git
    ignore = dirty
[submodule "bundle/go.vim"]
	path = bundle/go.vim
	url = git@github.com:anzaika/go.vim.git
    ignore = dirty
[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = git@github.com:vim-scripts/VimClojure.git
    ignore = dirty
[submodule "bundle/vim-handlebars"]
	path = bundle/vim-handlebars
	url = git://github.com/nono/vim-handlebars.git
    ignore = dirty
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
    ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "bundle/vim-vimwiki"]
	path = bundle/vim-vimwiki
	url = git@github.com:vim-scripts/vimwiki.git
    ignore = dirty
[submodule "bundle/presenting"]
	path = bundle/presenting
	url = git@github.com:sotte/presenting.vim.git
    ignore = dirty
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
    ignore = dirty
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = git@github.com:rodjek/vim-puppet.git
[submodule "bundle/vim-racer.git"]
	path = bundle/vim-racer.git
	url = git@github.com:racer-rust/vim-racer.git
[submodule "bundle/ycm.git"]
	path = bundle/ycm.git
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "bundle/vim-colos-solarized"]
	path = bundle/vim-colos-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/gabrielelana/vim-markdown.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/tender.vim"]
	path = bundle/tender.vim
	url = git@github.com:jacoborus/tender.vim.git
[submodule "bundle/papercolor-theme"]
	path = bundle/papercolor-theme
	url = git@github.com:NLKNguyen/papercolor-theme.git
